In [22]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import pandas as pd

In [8]:
spark = (
    SparkSession.builder.appName("preprocessing of taxi data")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.driver.memory", "15g")
    .getOrCreate()
)

In [9]:
sdf = spark.read.parquet("../data/curated/preprocess_result1")
sdf.show()
print(sdf.count())

+--------------------+---------------------+------------+------------+--------------+
|tpep_pickup_datetime|tpep_dropoff_datetime|PULocationID|DOLocationID|duration (sec)|
+--------------------+---------------------+------------+------------+--------------+
| 2016-03-01 00:53:35|  2016-03-01 00:57:11|         226|         226|           216|
| 2016-03-01 00:15:13|  2016-03-01 00:15:26|         145|         145|            13|
| 2016-03-01 00:15:46|  2016-03-01 00:16:00|         145|         145|            14|
| 2016-03-01 00:16:17|  2016-03-01 00:16:23|         145|         145|             6|
| 2016-03-01 00:16:45|  2016-03-01 00:18:14|         145|         145|            89|
| 2016-03-01 00:18:42|  2016-03-01 00:19:12|         145|         145|            30|
| 2016-03-01 00:19:34|  2016-03-01 00:19:53|         145|         145|            19|
| 2016-03-01 00:20:08|  2016-03-01 00:20:42|         145|         145|            34|
| 2016-03-01 00:20:57|  2016-03-01 00:21:14|         145|         145|            17|
| 2016-03-01 00:21:30|  2016-03-01 00:21:54|         145|         145|            24|
| 2016-03-01 00:22:08|  2016-03-01 00:22:26|         145|         145|            18|
| 2016-03-01 00:38:58|  2016-03-01 00:39:27|         145|         145|            29|
| 2016-03-01 00:06:22|  2016-03-01 00:10:42|          43|         151|           260|
| 2016-03-01 00:23:21|  2016-03-01 00:28:58|         237|          74|           337|
| 2016-03-01 00:37:19|  2016-03-01 00:44:11|         236|          43|           412|
| 2016-03-01 00:34:53|  2016-03-01 00:46:14|          95|         216|           681|
| 2016-03-01 00:30:27|  2016-03-01 00:53:09|         170|         129|          1362|
| 2016-03-01 00:09:43|  2016-03-01 00:18:42|         163|         137|           539|
| 2016-03-01 00:32:15|  2016-03-01 00:40:18|         163|         233|           483|
| 2016-03-01 00:42:01|  2016-03-01 01:08:40|         233|          16|          1599|
+--------------------+---------------------+------------+------------+--------------+
only showing top 20 rows

239520909

In [10]:
sdf.describe("duration (sec)")

+-------+-----------------+
|summary|   duration (sec)|
+-------+-----------------+
|  count|        239520909|
|   mean|860.1338363115514|
| stddev|718.8330722537778|
|    min|                0|
|    max|            35997|
+-------+-----------------+

In [12]:
sdf.approxQuantile("duration (sec)", [0.25, 0.5, 0.75, 0.99], 0.25)

[0.0, 586.0, 35997.0, 35997.0]

In [21]:
SAMPLE_SIZE = 0.001
df = sdf.sample(SAMPLE_SIZE, seed=0).toPandas()

TypeError: 'tuple' object is not callable